<p>Hello Administrator,</p>

<p>
  User <em><%= @author.name %></em>, reported an answer to question
  <em><%= @answer.question.title %></em> as abusive.
</p>

<p>
  <strong>Answer content:</strong><br/>
  <%= @answer.body %>
</p>