<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, <%= @receiver.name %></h1>
    <p>
      You have received a private message from <%= @sender.name %>.<br/>
    </p>
    <p>
      To read it, login to our site and click the <span style="font-weight: bold;">My private inbox</span> link.
    </p>
    <p>Have a great day!</p>
  </body>
</html

